{% load static %}

<div id="sidebar" class="d-flex flex-column">
    <!-- <div class="brand">
        <h5>DIY Soc</h5>
    </div> -->
    <div class="links d-flex flex-column">
        <a href="{% url 'index' %}" class="my-3 text-decoration-none 
            {% if request.path == '/' %}
            active
            {% endif %}
        ">
            <i class="bi bi-house-door"></i>
            <span class="ms-2">Home</span>
        </a>
        <a href="" class="my-3 text-decoration-none
            {% if 'explore' in request.path %}
            active
            {% endif %}
        ">
            <i class="bi bi-globe"></i>
            <span class="ms-2">Explore</span>
        </a>
        <a href="" class="my-3 text-decoration-none
            {% if 'notifications' in request.path %}
            active
            {% endif %}
        ">
            <i class="bi bi-bell"></i>
            <span class="ms-2">Notifications</span>
        </a>
        <a href="" class="my-3 text-decoration-none
            {% if 'bookmarks' in request.path %}
            active
            {% endif %}
        ">
            <i class="bi bi-bookmark"></i>
            <span class="ms-2">Bookmarks</span>
        </a>
        <a href="{% url 'profile' %}" class="my-3 text-decoration-none
            {% if 'profile' in request.path %}
            active
            {% endif %}
        ">
            <i class="bi bi-person"></i>
            <span class="ms-2">Profile</span>
        </a>
    </div>
    <div class="my-3">
        <button class="btn btn-outline-primary rounded-pill">Post</button>
    </div>
    <div class="d-flex mt-auto align-items-center">
        <div>
            <img src="{% static 'images/avatar.png' %}" alt="" width="45px" class="border rounded-pill">
        </div>
        <div class="px-2">
            <p class="m-0">{{user.first_name}} {{user.last_name}}</p>
            <p class="m-0">@{{user.username}}</p>
        </div>
        <div class="px-2 more">
            <button class="btn" id="dropdown-profile" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end my-2" aria-labelledby="dropdown-profile">
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>
</div>