<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">DIY Social</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto d-flex align-items-center">
                <a class="nav-link" aria-current="page" href="#">Home</a>



                {% if user.is_authenticated %}
                <!-- If registered -->
                <a href="#" class="nav-link">Welcome, {{user.first_name}} {{user.last_name}}</a>
                <a class="nav-link" href="{% url 'logout' %}" data-bs-toggle="tooltip" data-bs-placement="left"
                    title="Logout">
                    <i class="bi bi-box-arrow-right"></i>
                </a>
                {% else %}
                <!-- If not registered -->
                <a class="nav-link" href="{% url 'login' %}" data-bs-toggle="tooltip" data-bs-placement="left"
                    title="Login">
                    <i class="bi bi-box-arrow-in-right"></i>
                </a>
                {% endif %}

            </div>
        </div>
    </div>
</nav>