{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="border border-top-0 border-bottom-0 border-secondary" id="profile">
    <div id="title-profile-other" class="p-3 page-title border-secondary border-bottom">
        <h4 class="m-0">Profile</h4>
    </div>

    <div class="cover border-bottom border-primary">
        <img src="{% static 'images/cover.jpg' %}" alt="" width="100%" height="250px">
    </div>

    <div class="d-flex avatar px-3">
        <div>
            <img class="border border-primary rounded-circle" src="{% static 'images/avatar.png' %}" alt="" width="140px">
        </div>
        <!-- <div class="align-self-end ms-auto">
            <button class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#editProfile">
                <i class="bi bi-pencil-square"></i>
                <span>Edit Profile</span>
            </button>
        </div> -->
    </div>

    <div class="owner-name px-3 mt-2">
        <h5 class="m-0">{{ person.owner.first_name }} {{ person.owner.last_name }}</h5>
        <p class="m-0">@{{ person.owner.username }}</p>
    </div>

    <div class="owner-detail px-3 mt-2 border-secondary border-bottom">
        <p class="m-0">{{ person.bio }}</p>
        <p class="d-flex">
            <i class="bi bi-calendar3"></i>
            <span class="ms-2">Joined {{ date_joined }}</span>
            <span class="ms-auto">{{ posts_count }} posts</span>
        </p>
        <!-- <small class="d-inline-flex border border-primary rounded-pill px-3 py-2 m-0">5 posts</small> -->
    </div>

    <div class="post-list">

        {% for post in posts %}
        <div class="post-item px-2 py-3 border-secondary border-bottom">
            <div class="row">

                <div class="post-owner-img col-md-1">
                    <img src="{% static 'images/avatar.png' %}" class="border rounded-circle" alt=" avatar.png" width="50px">
                </div>

                <div class="col-md-11 pe-4">
                    <div class="d-flex flex-row post-owner">
                        <p class="mb-2">
                            <span>{{ post.owner.first_name }} {{ post.owner.last_name }}</span>
                            <span>@{{ post.owner.username }}</span>
                            <span> | {{ post.date_created | timesince }}</span>
                        </p>
                    </div>
                    <div class="post-content">
                        {{ post.post }}
                    </div>
                    <!-- COMMENTS -->
                    <div class="post-reaction mt-2 justify-content-start">
                        <p class="m-0 pe-5 pt-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ post.id }}" aria-expanded="false" aria-controls="collapse_{{ post.id }}">
                            <i class="icon bi bi-chat-square-text"></i>
                            <span class="icon">Comments</span>
                        </p>
                        <div class="collapse" id="collapse_{{ post.id }}">
                            <div class="card border border-primary">
                                <form action="{% url 'comments-create' post.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="my-3 mx-3">
                                        <input class="comment form-control" name="comment" placeholder="What's your comment?">
                                    </div>
                                </form>
                                <ul class="comments list-group">
                                    {% for comment in comments %}
                                    {% if comment.post.id == post.id %}
                                    <li class="list-group-item">
                                        <div class="comment-item d-flex flex-row align-items-center">
                                            <div>
                                                <a {% if user.id != comment.owner.id %} href="{% url 'profile-other' comment.owner.id %}" {% else %} href="{% url 'profile' %}" {% endif %} class="text-decoration-none"><small>{{ comment.owner.first_name }} {{ comment.owner.last_name }}</small></a>
                                                <small>@{{ comment.owner.username }}</small>
                                            </div>
                                            <div class="time ms-auto">
                                                <small>{{ comment.date_created }} | {{ comment.date_created | timesince }}</small>
                                            </div>

                                        </div>
                                        <div>
                                            {{ comment.text }}
                                        </div>

                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Modal Edit Profile -->
    <div class="modal fade" id="editProfile" tabindex="-1" aria-labelledby="editProfileLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProfileLabel">Edit Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'profile-edit' %}" method="POST">
                    <div class="modal-body">
                        {% csrf_token %}
                        <!-- <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="first_name" class="form-label">First Name</label>

                                    <input type="text" name="first_name" value="{{ user.first_name }}" class="form-control" id="first_name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="last_name" class="form-label">Last Name</label>
                                    <input type="text" name="last_name" value="{{ user.last_name }}" class="form-control" id="last_name">
                                </div>
                            </div>
                        </div> -->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="phone" class="form-label">Phone Number</label>
                                    <input type="text" name="phone" class="form-control" id="phone" value="{{ person.phone }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="gender" class="form-label">Gender</label>
                                    <select id="gender" name="gender" class="form-select" value="{{ person.gender }}">
                                        <option disabled {% if person.gender is None %} selected {% endif %}>Choose Your Gender</option>
                                        <option {% if person.gender == 'male' %} selected {% endif %} value="male">Male</option>
                                        <option {% if person.gender == 'female' %} selected {% endif %} value="female">Female</option>
                                        <option {% if person.gender == 'other' %} selected {% endif %} value="other">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="bio" class="form-label">Bio</label>
                            <textarea name="bio" class="form-control" id="bio">{{ person.bio }}</textarea>
                        </div>
                        <!-- <div class="mb-3">
                            <label for="{{ form.image_cover.id }}" class="form-label">Cover Image</label>
                            <div>
                                {{form.image_cover}}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.image_profile.id }}" class="form-label">Profile Image</label>
                            <div>
                                {{form.image_profile}}
                            </div>
                        </div> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}