{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="border border-top-0 border-bottom-0 border-secondary" id="content">
    <div class="p-3 page-title border-secondary border-bottom">
        <h4 class="m-0">Home</h4>
    </div>

    <div class="post-input border-secondary border-bottom">
        <form action="{% url 'posts-create' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-1 ps-4 my-3 align-self-center d-md-block d-none">
                    <img src="{% static 'images/avatar.png' %}" class="border rounded-circle" alt=" avatar.png" width="50px">
                </div>
                <div class="col-md-9 ps-4">
                    <div class="my-3">
                        <textarea class="post form-control" name="post" placeholder="What's your today DIY idea?"></textarea>
                    </div>
                </div>
                <div class="col-md-2 my-3 px-4 ps-md-1 pe-md-4">
                    <button type="submit" class="btn btn-outline-primary rounded-3 w-100 h-100">Post</button>
                </div>
            </div>
        </form>
    </div>

    <div class="border-secondary border-bottom" style="height: 10px; background:rgba(233, 232, 232, 0.5);">
    </div>

    <div class="post-list">

        {% for post in posts %}
        <div class="post-item px-2 py-3 border-secondary border-bottom">
            <div class="row">

                <div class="post-owner-img col-md-1">
                    <img src="{% static 'images/avatar.png' %}" class="border rounded-circle" alt=" avatar.png" width="50px">
                </div>

                <div class="col-md-11 pe-4">
                    <div class="post-owner d-flex flex-row">
                        <p class="mb-2">
                            <a {% if user.id != post.owner.id %} href="{% url 'profile-other' post.owner.id %}" {% else %} href="{% url 'profile' %}" {% endif %} class="text-decoration-none">
                                <span>{{ post.owner.first_name }} {{ post.owner.last_name }}</span>
                                <span>@{{ post.owner.username }}</span>
                            </a>
                            <span> | {{ post.date_created | timesince }}</span>
                        </p>
                        {% if post.owner.id == user.id %}
                        <p class="mb-2 ms-auto">
                            <div class="btn-group">
                                <button type="button" class="btn p-0 m-0" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'posts-edit' post.id %}">
                                            <i class="bi bi-pencil-square"></i>
                                            <span>Edit</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-danger" href="{% url 'posts-delete' post.id %}">
                                            <i class="bi bi-trash"></i>
                                            <span>Remove</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </p>
                        {% endif %}
                    </div>
                    <div class="post-content">
                        {{ post.post }}
                    </div>
                    <!-- COMMENTS -->
                    <div class="post-reaction mt-2 justify-content-start">
                        <p class="m-0 pe-5 pt-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ post.id }}" aria-expanded="false" aria-controls="collapse_{{ post.id }}">
                            <i class="icon bi bi-chat-square-text"></i>
                            <span class="icon">Comments</span>
                        </p>
                        <div class="collapse" id="collapse_{{ post.id }}">
                            <div class="card border border-primary">
                                <form action="{% url 'comments-create' post.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="my-3 mx-3">
                                        <input class="comment form-control" name="comment" placeholder="What's your comment?">
                                    </div>
                                </form>
                                <ul class="comments list-group">
                                    {% for comment in comments %}
                                    {% if comment.post.id == post.id %}
                                    <li class="list-group-item">
                                        <div class="comment-item d-flex flex-row align-items-center">
                                            <div>
                                                <a {% if user.id != comment.owner.id %} href="{% url 'profile-other' comment.owner.id %}" {% else %} href="{% url 'profile' %}" {% endif %} class="text-decoration-none"><small>{{ comment.owner.first_name }} {{ comment.owner.last_name }}</small></a>
                                                <small>@{{ comment.owner.username }}</small>
                                            </div>
                                            <div class="time ms-auto">
                                                <small>{{ comment.date_created }} | {{ comment.date_created | timesince }}</small>
                                            </div>

                                        </div>
                                        <div>
                                            {{ comment.text }}
                                        </div>

                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>

                        <!-- <p class="m-0 pe-5 pt-2 ">
                            <i class=" bi bi-star"></i>
                            <span>102 likes</span>
                        </p> -->
                        <!-- <p class="m-0 pe-5 pt-2 ">
                            <i class=" bi bi-bookmark-plus"></i>
                            <span>save</span>
                        </p> -->
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


<!--  <div class="edit mx-2">
                                                <div class="btn-group">
                                                    <button type="button" class="btn p-0 m-0" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                                        <i class="bi bi-three-dots"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-end">
                                                        <li>
                                                            <a class="dropdown-item" href="{% url 'comments-edit' comment.id %}">
                                                                <i class="bi bi-pencil-square"></i>
                                                                <span>Edit</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item text-danger" href="{% url 'comments-delete' comment.id %}">
                                                                <i class="bi bi-trash"></i>
                                                                <span>Remove</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div> -->